
<div class="col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto card card-plain card-blog">
    <div class="card-header card-header-image">
        <a href="{{ .Permalink }}">
            {{ if .Params.image }}
            <img class="img img-raised" src="{{ .Params.image }}">
            {{ else }}
            <img class="img img-raised" src="/img/site/missing-image.jpg">
            {{ end }}
        </a>
    </div>

    <div class="card-body">
        <h4 class="card-title">
            <a href="{{ .Permalink }}">
                {{ .Param "common-name" }} ({{ .Param "botanical-name" }})
            </a>
        </h4>
        <h6 class="card-category text-info">{{ .Param "genus" }}, {{ .Params.family }}</h6>
        <p class="card-description">
            {{ .Summary }}
            <a href="{{ .Permalink }}">Read More&nbsp;>></a>
        </p>
    </div>
</div>
