{{ define "main" }}

<div class="index-page">

    {{ partial "masthead.html" . }}

    <div class="main main-raised">

        <!-- Marketing jargon, leads. -->
        <div class="container ">
            <div class="row">
                <!-- Each data instance... -->
                {{"<!-- START LEAD SECTION -->" | safeHTML}}

                {{ range .Site.Data.lead.item }}

                {{- partial "lead.html" . -}}

                {{ end }}

                {{"<!-- END LEAD PROFILES -->" | safeHTML}}
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    {{ .Page.Content }}
                </div>
            </div>
        </div>

        <div class="container">
            <h2 class="title text-center">Recent Posts</h2>
            <hr />
            <div class="row">
                {{"<!-- START POSTS SECTION -->" | safeHTML}}

                {{ range first 6 (where .Pages.ByDate.Reverse "Type" "post") }}

                {{- partial "posts.html" . -}}

                {{ end }}

                {{"<!-- END POSTS SECTION -->" | safeHTML}}
            </div>
        </div>

        <div class="container">
            <h2 class="title text-center">Plants</h2>
            <hr />
            <div class="row">
                {{"<!-- START POSTS SECTION -->" | safeHTML}}

                {{ range first 6 (where .Pages.ByDate.Reverse "Type" "plant") }}

                {{- partial "plant.html" . -}}

                {{ end }}

                {{"<!-- END POSTS SECTION -->" | safeHTML}}
            </div>
        </div>

        <div class="container">
            <h2 class="title text-center">Contact Us</h2>
            <hr />
            <div class="row">
                <div class="col">
                    {{ with .Site.Params.social }}
                    {{- partial "social-media.html" . -}}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
        </div>

        {{ end }}
